#contentArea{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.headerText,.nonCenteredHeaderText{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 0.5em;
}
.headerText{
    text-align: center;
}

#redrawButton{
    float:left;
}

#invisibleTable{
    position: relative;
}

#invisibleTable td{
    padding-right: 4em;
    vertical-align: top;
}

#highlightTable{
    /**position: absolute;   **/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    text-align: left;
    border: .2em ridge black;
/**    margin-left: 1em;
    margin-top: 1em;
    top: 22em;
    left: 1em;     **/
}

#highlightTable th{
    background-color: #308dbb;
    color: white;
    padding: .4em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#highlightTable td{
    padding: .4em;
    border-right: 1px solid black;
}


#diagramLoaderImage{
    position: relative;
    left: 0.5em;
    visibility: hidden;
}

#tableLoaderImage{
    position: relative;
    top: 0.5em;
    left: 1em;
    visibility: hidden;
}

#pathwayTable{
    position: relative;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    text-align: left;
    border: .2em ridge black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 2em;
    max-width: 60em;
    
}

#pathwayTable td{
    padding: .4em;
    border: 1px solid black;
    padding-right: 1em;
}

#pathwayTable th{
    background-color: #308dbb;
    color: white;
    padding: .4em;
    border: 1px solid black;
    cursor: pointer;
    text-decoration: underline;
    padding-right: 1em;
}

#odd{
    background-color: #ffffff;
}

#even{
    background-color: #dfe4e8;
}