#matrixHeader {
    position: absolute;
    left: 0;
    top: 233px;
    z-index: 4;
    background-color: white;
}

#matrix {
    position: absolute;
    left: 0;
    top: 493px;
    z-index: 2;
}

td {
    text-align: center;
    vertical-align: middle;
}

thead table td {
    border: none;
}

td.cell, td.cellselected, td.legend {
    width: 27px;
    height: 20px;
    border: 1px solid #d3d3d3;
    line-height: 12px;
}

td.selectable {
    border-style: outset;
    border-width: 1px;
    cursor: pointer;
}

td.selectable:hover {
    border-style: inset;
    cursor: pointer;
}

td.cellselected {
    border-style: inset;
    cursor: pointer;
}

td.legend {
    border: solid #000000 1px;
}

.headerCell {
    border: 1px outset gray;
    background-color: white;
    color: #000000;
    cursor: pointer;
}

.headerCell:hover {
    border-style: inset;
}

.left_header1 {
    width: 75px;
    vertical-align: top;
}

.left_header2 {
    width: 110px;
    font-size: 10px;
    line-height: 12px;
}

.left_header1_selected {
    width: 75px;
    background-color: #dfe4e8;
    font-weight: bold;
    border-style: inset;
    border-color: #dfe4e8;
    vertical-align: top;
}

.left_header2_selected {
    width: 110px;
    background-color: #dfe4e8;
    font-size: 10px;
    line-height: 12px;
    border-style: inset;
    border-color: #dfe4e8;
}

.selected {
    background-color: #dfe4e8;
    border-style: inset;
    border-color: #dfe4e8;
}

.numbers, .numbers_protected, .numbers_selected, .numbers_protected_selected {
    width: 27px;
}

.numbers_protected {
    color:red;
}

.numbers_selected, .numbers_protected_selected {
    background-color: #dfe4e8;
    border-style: inset;
    border-color: #dfe4e8;
}

.numbers_protected_selected {
    color:red;
}

.numbers_protected div, .numbers_protected_selected div {
    border:1px solid red;
}

.numbers div, .numbers_selected div {
    border:1px solid #d3d3d3;
}

#scrollingTable {
    background-color: #f0f0f0;
    border-spacing: 2px;
    border-collapse: separate;
    border: 1px solid white;
    border-top: hidden;
}

#titleTable {
    background-color: white;
    border-collapse: separate;
    border: 1px solid white;
    border-bottom: hidden;
    border-spacing: 2px;
    vertical-align: top;
}

.level {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    text-align: center;
    vertical-align: bottom;
    margin: 0;

}

a.white:link, a.white:active, a.white:visited {
    color: #ffffff;
    text-decoration: underline;
}

a.white:hover {
    color: #ffffff;
    text-decoration: none;
}

a.white {
    color: #ffffff;
}

.headerLabel {
    border: 1px solid white;
    font-style: italic;
    text-align: right;
    font-size: 0.8em;
}

#batchLabel {
    width: 110px;
}

#levelLabel {
    width: 75px;
}

#filter {
    background-color: white;
    text-align: left;
    z-index: 2;
    width: 850px;
}

#filterHead {
    font-weight: bold;    
    background-color: #00667c;
    color: #ffffff;
    padding-left: 5px;
    vertical-align: middle;
}

#filterBody {
    padding: 10px;
    border: 1px solid black;
}

.filterPanel {
    float: left;
}

#filterPanel1 {
    width: 25%;
}

#filterPanel2 {
    width: 55%;
}

#filterPanel3 {
    width: 20%;
}

div.filterSection {
    padding-bottom: 10px;
}

div.filterName {
    font-weight: bold;
}

label {
    vertical-align: top;
}

#sampleFilter table td {
    text-align: left;
    vertical-align: top;
}

#pageTitle {
    font-size: 12px;
    color: #00667c;
    font-weight: bold;
    text-align: center;
    background-color: white;
    margin-right: 15px;
}

.optionName {
    color: #00667c;
    font-weight: bold;
    font-size: 11px;
    padding-left: 15px;
    vertical-align: middle;
}

#endDateCalContainer, #startDateCalContainer {
    display: none;
    position: absolute;
    z-index: 21;
}

#legendTable {
    font-size: 11px;
    vertical-align: top;
    width: 180px;
    overflow: hidden;
}

#menubar {
    margin: 0 auto;
    padding: 2px;
    background-color: white;
    font-size: 12px;
    color: #565656;
    text-align: center;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

#menubar select {
    border-color: gray;
    font-size: 11px;
    font-family: sans-serif;
    vertical-align: bottom;
}

#menubar select option {
    font-size: 11px;
    font-family: sans-serif;
}

button {
    font-size: 11px;
    font-family: sans-serif;
    cursor: pointer;
    width: auto;
    overflow: visible;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-color: #EEEEEE;
    vertical-align: middle;
    margin-right: 5px;
}

button:hover {
    outline: 1px solid #99ccff;
}

button.positiveButton:hover {
    outline: 1px solid green;
}

button.negativeButton:hover {
    outline: 1px solid red;
}

button span {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#downloadButton {
    height: 2.5em;
    outline: 1px solid green;
    margin-bottom: 2px;
    margin-right: 0;
    font-size: 12px;
}

#matrixContainer {
    margin: auto;
    text-align: left;
}

#filterContainer {
    margin: auto;
    text-align: left;
    width: 850px;
}

#diseaseSwitcher {
    position:absolute;
    top:28px;
    z-index:15;
    border:1px solid black;
    padding:10px;
    text-align:left;
    font-size:12px;
    background-color:white;
    cursor:default;
}


