/*
 * Some standard shortcuts used across a variety of projects as well as some CSS related to extensions
 * that have been used across a variety of projects.
 */

/*
 * Shortcut for divs that need to be displayed inline.
 */
.inline {
	display: inline;
}

/*
 * A shortcut for aligning all text in a block to the right.  Currently this is mostly used in forms
 * in the editDisplayFields.
 */
.right {
	text-align: right;
}

/*
 * A shortcut for aligning all text in a block in the center.  Currently only used for the clickable
 * panels on the recallDashboard.
 */
.centered {
	text-align: center;
}

/*
 * Used to ensure that images that are used for actions get a pointer icon on hover.  This is used
 * in commonDisplayUtils.
 */
.stdOnClickImage {
	cursor: pointer;
}

/*
 * Used to ensure that text that is used for actions get a pointer icon on hover.  This is used
 * in commonDisplayUtils.
 */
.stdOnClickLink {
	text-decoration: underline;
	cursor: pointer;
}

/* 
 * Used on the clickable panels on the recallDashboard so that the active and hover colors fill the 
 * entire area encompassed by the border.
 */
.inheritBgColor {
	background-color: inherit;
}
