/*******************************************************************************
 * Software License, Version 1.0 Copyright 2010 SRA International, Inc.
 * Copyright Notice.  The software subject to this notice and license includes both human
 * readable source code form and machine readable, binary, object code form (the "caBIG
 * Software").
 *
 * Please refer to the complete License text for full details at the root of the project.
 ******************************************************************************/

.x-cols-icon {
background-image:url(../images/default/grid/columns.gif) !important;
}

.icon-grid {
background-image:url( ../images/grid.png ) !important;
}

.icon-xl {
background-image:url( ../images/excel.png ) !important;
}

.icon-txt {
background-image:url( ../images/csv.png ) !important;
}

.icon-find {
background-image: url(../images/find.png) !important;
}

.icon-filter {
background-image: url(../images/filter.png) !important;
}

.icon-reset {
background-image: url(../images/reset.png) !important;
}

.icon-help {
background-image: url(../images/help.png) !important;
}

.icon-report {
background-image: url(../images/report.png) !important;
}

.icon-page_code {
background-image: url(../images/page_code.png) !important;
}

.icon-breakdown {
background-image: url(../images/report.png) !important;
}

.x-grid3-row-over .x-grid3-cell-inner {
font-weight: bold;
}

.x-panel-resize {
  height:5px;
  background:transparent url(../images/panel-handle.gif) no-repeat center bottom;
  position:relative;
  left:0;
  top:2px;
  cursor:n-resize;
  cursor:row-resize;
  /* for IE */
  font-size:1px;
  line-height:1px;
  overflow:hidden;
}

.ux-lovcombo-icon {
	width:16px;
	height:16px;
	float:left;
	background-position: -1px -1px ! important;
	background-repeat:no-repeat ! important;
}
.ux-lovcombo-icon-checked {
	background: transparent url(../images/default/menu/checked.gif);
}
.ux-lovcombo-icon-unchecked {
	background: transparent url(../images/default/menu/unchecked.gif);
}

#codeTables {
    width: 902px;
    height: 550px;
    background: #fff url(../images/codeTables/bg2.png) no-repeat;
    position:relative;
	left:0;
	top:0;
	margin-bottom:10px;
	margin-top:15px;
	margin-left:2px;
	font-family:tahoma,arial,sans-serif;
}
#codeTables-menu {
    position:absolute;
    left:5px;
    top:20px;
    width:115px;
    overflow:visible;
	font-family:arial,tahoma,sans-serif;
	z-index:1;
}
#codeTables-menu a {
	text-align:right;
    color:#fff;
    font-size:12px !important;
	line-height:16px;
	padding:5px 0 3px;
    cursor:pointer;
	display:block;
    text-decoration: none;
	padding-right:11px;
	-moz-outline:none;
	outline: 0 none;
}
#codeTables-menu a:hover {
    background: transparent url(../images/codeTables/over-item2.png) no-repeat;
	text-decoration: none;
}
#codeTables-menu a.active {
    background: transparent url(../images/codeTables/active-item2.png) no-repeat;
	text-decoration: none;
	color:#1860A8;
	font-weight:bold;
    white-space: nowrap;
}
#codeTables-menu h4 {
	display:none;
	font-size:11px !important;
	font-weight:bold;
	font-family:tahoma,arial,sans-serif;
	color:#284F85;
	margin:0;
	padding:4px;
	line-height:16px;
	background:transparent url(../images/codeTables/top-bottom.gif) repeat-x 0 -1px;
	border-bottom:1px solid #89a8cf;
}
#codeTables-box {
    position:absolute;
    left:114px;
    top:12px;
    line-height:14px;
    font-size:11px;
	background-color:#fff;
    border-style:solid;
    border-color:#fff;
	border-width: 0;
}
#codeTables-box-inner {
    width:777px;
	height:520px;
    line-height:14px;
    font-size:11px;
	background-color:#fff;
    border:1px solid;
    border-color:#3e6598 #3e6598 #3e6598 #3e6598;
	overflow:auto;
}
#codeTables-ct {
    padding:2px;
}
#codeTables-ct p i {
    color: #c33;
	font-style:normal;
	font-weight:bold;
}
#codeTables-ct h2 {
    border-bottom: 2px solid #99bbe8;
    cursor:pointer;
    padding-top:6px;
	-moz-user-select:none;
	-khtml-user-select:none;
}
#codeTables-ct h2 div {
    background:transparent url(../images/codeTables/group-expand-sprite.gif) no-repeat 3px -47px;
    padding:4px 4px 4px 17px;
    color:#3764a0;
    font:bold 11px tahoma, arial, helvetica, sans-serif;
}
#codeTables-ct .collapsed h2 div {
    background-position: 3px 3px;
}
#codeTables-ct .collapsed dl {
    display:none;
}
#codeTables-ct dl {
    padding:5px 5px 5px 5px;;
}