/* 
 * Temporary CSS to put a dummy header at the top of the clickable prototypes.
 * - This is the background which goes across the whole width of the browser.
 */
#marcsHeader {
	height: 56px;
	background: url(../images/marcsHeaderMiddle.gif) repeat-x;
	margin-bottom: 5px;
}

/* 
 * Temporary CSS to put a dummy header at the top of the clickable prototypes.
 * - This is the left side of the header with the menus and such.
 */
#marcsHeaderLeft {
	display: inline;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* 
 * Temporary CSS to put a dummy header at the top of the clickable prototypes.
 * - This is the right side of the header with the logout and such.
 */
#marcsHeaderRight {
	display: inline;
	position: absolute;
	top: 0px;
	right: 0px;
}

/*
 * The underline for the recall audit check.
 */
#recallAuditCheckTitle {
	border-bottom: 1px solid black;
}

/*
 * Adding a little space for the bottom of the summary of the recall dashboard.  The summary is the
 * part at the top of the recallDashboard.jsp.
 */
#recallSummary {
	margin-bottom: 5px;
}

/*
 * The borders for the recall control clickable panels on recallDashboard.jsp.
 */
#recallControls {
	font: 14px arial;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 5px;
}

/*
 * Space around the sections of the racReport that show up in racReport.jsp.  These are the sections
 * that appear individually in the tabbed racReport and down the length of the page in the non-tabbed
 * version of the page.
 */
.racReportSection {
	padding: 10px;
	margin: 10px;
}

/*
 * The positioning information for the arrows that appear on the racReport tabbed version for paging
 * through the tabs.
 */
.racReportWizardControls {
	position: relative;
	top: -3px;
	float: right;
}

/*
 * The title bar on waam.jsp that encompasses the inbox/outbox clickable panels and the information
 * identifying which inbox/outbox a user is in.
 */
#waamTitleBar {
	border-bottom: 2px solid black;
}

/*
 * The border specification for the waam clickable panels that control actions on waam.jsp.
 */
.waamMenuItem {
	width: 100px;
	height: 15px;
	padding: 3px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background: transparent;
}

/*
 * The background hover color for the waam clickable panels that control actions on waam.jsp.
 */
.waamActionOver {	
	background-color: #dddddd;	
}

/*
 * The background active color for the waam clickable panels that control actions on waam.jsp.
 */
.waamActionActive {	
	background-color: #dddddd;
}

/*
 * The background hover color for the waam clickable panels that control actions on recallDashboard.jsp.
 */
.recallActionOver {
	background-color: #dddddd;
}

/*
 * The background active color for the waam clickable panels that control actions on recallDashboard.jsp.
 */
.recallActionActive {
	background-color: #dddddd;
}

