ul.reportBullet {
  margin: 0;
  padding: 0;
}

ul.reportBullet li {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
  background: url('../images/report.png') no-repeat top left;
}

.tab-like-top {
	border-bottom: 0px;
	background: url(../images/extensions/tab-bg.gif) repeat-x bottom;
}
