/*
 * TCGA DB2
 * 
 * CSS file for the Data Browser - Deep Space Nine edition
 */

.queryDisplay {
	margin-bottom: 3px;
}

.queryCheckbox {
	margin-right: 3px;
	position: relative;
	top: 5px;
}

.querySelection {
	padding-left: 15px;
	display: inline-block;
	*display: inline;
}

.querySelection.label {
	font-weight: bold;
}

.queryLabel {
	margin-top: 5px;
	font-weight: bold;
}

.queryClassName {
	margin-top: 5px;
	font-weight: bold;
	color: #0000cc;
}

.queryName {
	font-weight: bold;
	color: #777777;
}

.queryShared {
	height: 25px;
}

.querySharedImage {
	position: relative;
	top: 6px;
	margin-right: 2px;
}

.queryControl {
	margin-top: 3px;
	float: right;
}

.queryControlButtons {
	margin-right: 3px;
}

.queryControlButtons.save {
	margin-bottom: 1px;
}

.queryControlButtons.delete {
	position: relative;
	top: 1px;
}

#x-debug-browser .x-tool-toggle{background-position:0 -75px;}
#x-debug-browser .x-tool-toggle-over{background-position:-15px -75px;}
#x-debug-browser.x-panel-collapsed .x-tool-toggle{background-position:0 -60px;}
#x-debug-browser.x-panel-collapsed .x-tool-toggle-over{background-position:-15px -60px;}

.queryControlButtons.toggle {
	background-position: 0 -75px; 
	position: relative;
	right: 1px;
	top: 1px;
}

.queryControlButtons.toggle:hover {
	background-position: -15px -75px; 
}

.queryControlButtons.toggle.closed {
	background-position: 0 -60px; 
}

.queryControlButtons.toggle.closed:hover {
	background-position: -15px -60px; 
}

.queryValue {
	margin-left: 10px;
	margin-bottom: 5px;
	color: #0000cc;
}

.queryResultsViewControlPanel {
	border-left: 1px solid #8DB2E3;
	border-right: 1px solid #8DB2E3;
	height: 30px;
	padding-top: 5px;
}

.queryResultsImageView {
	border: 1px solid #8DB2E3;
}

.queryValueLabel {
	color: #000000;
}

.queryLibraryObjectName {
	margin-left: 10px;
	margin-bottom: 5px;
	width: 300px;
	display: inline-block;
	*display: inline;
}

.button.select {
	margin-left: 278px;
	width: 142px;
}

.selectorBox {
	width: 600px;
	border: solid 1px #d3d3d3;
	margin-left: 15px;
	margin-top: 15px;
}

.selectorTitle {
	margin-left: 10px;
	margin-bottom: 10px;
	display: inline-block;
	*display: inline;
	font-weight: bold;
}

.openCloseSelectorToggle {
	float: right;
	margin-right: 10px;
	cursor: pointer;
	text-decoration: underline;
}

.selectorParameterTitle {
	font-weight: bold;
	margin-bottom: 5px;
}

.selectorParameter {
	margin-left: 10px;
	margin-bottom: 10px;
}

.sliderValue {
	margin-left: 12px;
	margin-left: 3px;
}

.lossGainSliderGauge {
	position: relative;
	top: 5px;
}

.lossGainSliderGauge .negative {
	word-spacing: 21px;
}

.lossGainSliderGauge .positive {
	word-spacing: 25px;
}

.x-grid3-hd-ageAtDiagnosis, .x-grid3-hd-daysSurvival, .x-grid3-hd-daysRecurrence, .x-grid3-hd-tumorGrade, .x-grid3-hd-tumorStage, .x-grid3-hd-tumorSite, .x-grid3-hd-tissueCollectionCenter {
    white-space: normal;
}

.diseasePreferenceData {
	margin-left: 40px;
}
