/**
 * Grid panel column stylings.
 * x-grid3-col-{colid} for columns
 * x-grid3-hd-{colid} for headers
 */
.x-grid3-hd-participantNumber, .x-grid3-hd-tissueSourceSite, .x-grid3-hd-recCenter, .x-grid3-col-uuid, .x-grid3-col-barcode, .x-grid3-col-platform {
	white-space: normal;
}

.highlightGridTitleBackground {
	background-color: #99FF99;
	padding-left: 4px;
}

.lowlightGridTitleBackground {
	background-color: #9999FF;
	padding-left: 4px;
}
