/*******************************************************************************
 * Software License, Version 1.0 Copyright 2011 SRA International, Inc.
 * Copyright Notice.  The software subject to this notice and license includes both human
 * readable source code form and machine readable, binary, object code form (the "caBIG
 * Software").
 *
 * Please refer to the complete License text for full details at the root of the project.
 ******************************************************************************/
body.damResults .bodyContent ,.eXtremeTable {width: 1000px;}
body.damResults #pageContainer { margin: 0;}
#matrixHeader {background-color: white;}
#matrix {z-index: -1;}
td {text-align: center; vertical-align: middle;}
thead table td {border: none;}
td.cell, td.cellselected, td.legend {width: 27px; height: 20px;border: 1px solid #d3d3d3; line-height: 12px;}
td.selectable {border-style: outset; border-width: 1px; cursor: pointer;}
td.selectable:hover {border-style: inset; cursor: pointer;}
td.cellselected {border-style: inset;cursor: pointer;}
td.legend {border: solid #000000 1px;}
.headerCell {border: 1px outset gray;background-color: white;color: #000000; cursor: pointer; text-align: center; vertical-align: middle; font-weight: normal;}
.headerCell:hover {border-style: inset;}
.left_header1 {width: 75px;vertical-align: top;}
.left_header2 {width: 110px;font-size: 10px;line-height: 12px;}
.left_header1_selected {width: 75px;background-color: #dfe4e8;font-weight: bold;border-style: inset;border-color: #dfe4e8;vertical-align: top;}
.left_header2_selected {width: 110px;background-color: #dfe4e8;font-size: 10px;line-height: 12px;border-style: inset;border-color: #dfe4e8;}
.selected {background-color: #dfe4e8;border-style: inset;border-color: #dfe4e8;}
.numbers, .numbers_protected, .numbers_selected, .numbers_protected_selected {width: 27px;}
.numbers_protected {color:red;}
.numbers_selected, .numbers_protected_selected {background-color: #dfe4e8;border-style: inset;border-color: #dfe4e8;}
.numbers_protected_selected {color:red;}
.numbers_protected div, .numbers_protected_selected div {border:1px solid red;}
.numbers div, .numbers_selected div {border:1px solid #d3d3d3;}

#scrollingTable {background-color: #f0f0f0;border-spacing: 2px;border-collapse: separate;border: 1px solid white;border-top: hidden;}
#titleTable {background-color: white;border-collapse: separate;border: 1px solid white;border-bottom: hidden;border-spacing: 2px;vertical-align: top;}
.level {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 9px;text-align: center;vertical-align: bottom;margin: 0;}
a.white:link, a.white:active, a.white:visited {color: #ffffff;text-decoration: underline;}
a.white:hover {color: #ffffff;text-decoration: none;}
a.white {color: #ffffff;}
.headerLabel {border: 1px solid white;font-style: italic;text-align: right;font-size: 0.8em;}

#batchLabel {width: 110px;}
#levelLabel {width: 75px;}
.filterPanel {float: left;}
#filterPanel1 {width: 25%;}
#filterPanel2 {width: 55%;}
#filterPanel3 {width: 20%;}
div.filterSection {padding-bottom: 10px;}
div.filterName {font-weight: bold;}
label {vertical-align: top;}
#sampleFilter table td {text-align: left;vertical-align: top;}
#pageTitle {font-size: 12px;color: #00667c;font-weight: bold;text-align: center;background-color: white;margin: 0 15px;line-height:20px;}
.optionName { color: #00667c;font-weight: bold;font-size: 11px;padding-left: 15px;vertical-align: middle;}
#endDateCalContainer, #startDateCalContainer {display: none;z-index: 1;}
#legendTable {font-size: 11px;vertical-align: top;width: 180px;overflow: hidden;}
#menubar {padding: 2px;background-color: white;font-size: 12px;color: #565656;border-top: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;}
#menubar span {margin-bottom:15px;}
button {font-size: 11px;font-family: sans-serif;cursor: pointer;width: auto;overflow: visible;background-position: 5% 50%;background-repeat: no-repeat;background-color: #EEEEEE;vertical-align: middle;margin-right: 5px;}
button:hover {outline: 1px solid #99ccff;}
button.positiveButton:hover {outline: 1px solid green;}
button.negativeButton:hover {outline: 1px solid red;}
button span {margin-left: 20px;margin-top: 2px;margin-bottom: 2px;}
#downloadButton {height: 2.5em;outline: 1px solid green;margin-bottom: 2px;margin-right: 0;font-size: 12px;}
#matrixContainer {background:#ffffff;margin: auto;text-align: left;}
.freeze {position: fixed;width: 100%;}
#topHeader.freeze {top: 0px;}
#header.freeze {top: 30px;}
#nav.freeze {top: 70px;-moz-border-radius: 0;-webkit-border-radius: 0;/* Need to include width again here for precedence issues */width: 100%;}
#menuContainer.freeze {top: 95px;}
#matrixHeader.freeze {top: 125px;}
.freeMatrix {position: relative;top: 387px;}
#webServiceUrl {padding-left:5px;padding-top:5px;display:none;height:150px;width:480px;border:2px outset black;z-index:100;
    position:absolute;left: 200px;top: 325px;background-color:white;text-align:left;}
#webServiceUrlClose {cursor:pointer;text-decoration:underline;text-align:center;}
#webServiceUrlLink {margin-right:100px;text-decoration:underline;cursor:pointer;}
.archiveIntro {padding-bottom:10px;}
.archiveTable {padding:20px 10px 0 10px;}
.archiveTable .clear {margin-bottom:20px;}
.archiveTable .archiveTableLeft {float:left;font-weight:bold;width:200px;}
.archiveTable div .archiveTableLeft, .archiveTable div .archiveTableRight {width:105px;font-weight:normal;}
.archiveTable .archiveTableRight {float:left;width:400px;}
.archiveTable .archiveTableRight select{width:400px;font-size:12px;}
.archiveTable .archiveTableRight input {width:394px;font-size:12px;}
.archiveTable .archiveTableRight div input {width:100px;}
.archiveTable .archiveTableRight .hyphen {float:left;width:30px;text-align:center;}
.archiveTable .grey {font-size:0.9em;color:gray;}
.archiveTable .headTxt {font-weight:bold;display:block;}
.archiveTable .desciptionTxt {font-weight:normal;display:block;}
.archiveTable .footer{text-align:center;margin-top:30px;}
.archiveTable .resetButton{margin-right:30px;}

