.x-grid3-hd-sequenceDownload, .x-grid3-hd-adfDownload {
    white-space: normal;
}

.x-grid3-hd {
    border-bottom: solid 1px lightgray;
}

.platformTitles {
    font-weight: bold;
    font-size: 12px;
}
